.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 10.625rem;
    position: relative;
}

.logo {
    position: relative;
}

.logo h1 {
    padding: 0 1.875rem;
    font-size: 3.125rem;
    font-weight: 600;
}

.logo img {
    position: absolute;
    width: 6.25rem;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.75rem;
    font-size: 1.25rem;
}

.nav-connect {
    padding: 1.25rem 2.5rem;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    border-radius: 3.125rem;
    font-size: 1.375rem;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

@media (max-width: 48rem) {
    .navbar {
        margin: 1.25rem 3.125rem;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        top: 1.25rem;
        right: 1.875rem;
        z-index: 100;
        cursor: pointer;
    }

    .nav-mob-close {
        display: none;
        position: fixed;
        top: 1.25rem;
        right: 1.875rem;
        z-index: 101;
        cursor: pointer;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 3.75rem 1.25rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        gap: 1.25rem;
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-menu li {
        margin: 0.625rem 0;
    }

    .nav-menu li p {
        font-size: 1.125rem;
        color: #000;
    }
}

@media (min-width: 48.0625rem) {
    .nav-mob-open,
    .nav-mob-close {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav-menu li {
        margin: 0 0.9375rem;
    }
}
